* {
	padding: 0;
	margin-right: 0;
}
/* HEADER styling*/
#header {
	background-color:#00E5BE; /*fallback*/
	background: repeating-linear-gradient(
			60deg, 
			#00E5BE,
			#00E5BE 40px,
			#7CC458 40px,
			#7CC458 70px);
	position: relative;
	width: 100%;
	height: 100%;
	font-family: "work sans";
	font-color:#ffffff;
	text-align: center;
	display: block;
/*	padding-left:30px;
	padding-right:30px;
*/}

#header h1{
	font-family: "work sans";
	color: #FFFFFF;
	font-size: 1.5em;

}
#header h2, h3, h4, p {
	font-family: "work sans";
	color: #F5FF00;
}

/* HEADER BUTTON styling */
.button {
    background-color: transparent;
    padding: 15px 32px;
    position: relative;
    display: inline block;
    text-decoration: none;
	font-family: "work sans";
	color: white;
    font-size: 20px;    
    border-radius: 4px;  
}

#button1:hover {
	box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

#button1 {
    text-align: center;
    border-width: 1px;
    border-color: white;
}


/*MENU styling*/
#menubar {
	position: relative;
}

nav {
	background-color: transparent;
	border-top: 2px gray;
	border-bottom: 1px gray;
	height: 50px;
	text-align: center;
}

nav ul {
	height: 25px;
	width: 100%;
}

nav ul li {
	list-style-type: none;
	float: left;
	text-align: center;
	padding: 0px 10px 0px 10px;
}

nav ul li a {
	text-decoration: none;
	color: #4e9b5a;
	line-height: 50px;
	display: block;
	font-family: "work sans", cursive, sans-serif;
	font-size: 25px;
}

nav li a:hover {
	color: ;
	text-decoration: underline;
	font-size: 25px;
	transition: white 30% 0.2s ease-in-out;
}


/*FOOTER styling*/
footer {
	width: 100%;
	clear:both;
	padding: 6em 0 6em 0 ;
	background-color:transparent;
	background-size: auto;
	text-align: center;
}

#sponsorgallery{
    margin: 0 0 10px 10px;
}

.col3footer {
	float:left;
	width: 30px; 
	text-align: center;
}

.col3lastfooter {
	margin-right: 0; 
	width: 30px;
	text-align: center;
	box-sizing: border-box;
}

