input {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}

.contact_header{
	clear:both;
	border-top: 1px dotted black;
}

.contact_header p{
	font-size: 60px;
	text-align: center;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.contact_map{
	float:left;
	width: 60%;
	margin-top: 50px;
	box-sizing: border-box;
}
.contact_map .google_map{
	margin-left:10%;
	border:10px black solid;
}

.contact_address{
	float:left;
	box-sizing: border-box;
	height: 450px;
}

.contact_address h2{
	margin-top: 50px;
	margin-left: 20px;
}
.contact_address p{
	margin-left: 20px;
}

.contact_form{
	width: 40%;
	margin-left: 30%;
}

#name{
	margin-left: 5%;
	height: 20px;
	width: 90%;
}

#comment{
	margin-left: 5%;
	height: 200px;
	width : 90%;
}

#submit_button{
	font-family: "Comic Sans MS", cursive, sans-serif;
	border-radius: 25px;
	background: lightgrey;
	width : 5em;
	height: 3em;
}
input[type = "text"], textarea
{
	font-size: 18px;
}
form{
	font-family: "Comic Sans MS", cursive, sans-serif;
}