.contact_header{
	clear:both;
}

.contact_header p{
	font-size: 60px;
	text-align: center;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.contact_map{
	float:left;
	width: 50%;
	margin-top: 100px;
	box-sizing: border-box;
}
.contact_map .google_map{
	margin-left:10%;
	border:10px black solid;
}

.contact_address1{
	float:left;
	box-sizing: border-box;
}

.contact_address1 h2{
	margin-top: 100px;
	margin-left: 20px;
}
.contact_address1 p{
	margin-left: 20px;
}