* {
	padding: 0;
	margin-right: 0;
}

nav {
	background-color: lightpink;
	height: 50px;
	margin: -16px;

}

nav ul {
	height: 50px;
	width: 908px;
	margin-left: 30%;
}

nav ul li {
	list-style-type: none;
	width: 150px;
	float: left;
	text-align: center;
}

nav ul li a {
	text-decoration: none;
	color: #4e9b5a;
	line-height: 50px;
	display: block;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 25px;
}

li a:hover {
	background-color: lightgrey;
	color: white;
	text-decoration: underline;
	font-size: 30px;

}


body {
background: #f5f5dc; 
margin: 0;
}

#logo {
	width: 300px;
	display: block;
	

}

#title {
	position: absolute;
	top: 100px;
	left: 400px;
}


h1 {
	font-size: 65px;
	font-family: "Comic Sans MS", cursive, sans-serif;
}




/* Button styling */
.button {
    background-color: #4CAF50; /* Green */
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
	color: #f5f5dc;
	font-family: "Comic Sans MS";
    font-size: 20px;
}

#button1 {
    position:absolute;
    left:60%;
    top:93%;
    border-radius: 8px;    
}
#button2 {
    position: absolute;
    left: 60%;
    top: 105%;
    border-radius: 8px;    
}

.button:hover {
	background-color: #4e9b5a;
}






